.my-profile {
    padding: 20px;

    .my-informations {
        
        .line {
            display: flex;
            flex-direction: row;
            align-items: center;
            max-width: 700px;
            margin: 0 auto;
            padding: 10px;

            &:not(:first-of-type) {
                border-top: 1px dashed grey;
            }

            .line-title {
                margin-right: auto;
                font-weight: bold;
            }

            .line-content {
                min-width: 250px;
            }

        }
    }

    code {
        display: block;
        background-color: #F7F7F7;
        padding: 15px;
        margin-top: 50px;
    }
}